$mail-blue: #0264a3;
$red: red; 

.checkbox{
    display: none;
}

.checkbox:checked + .burger > .burger_line {
    border-bottom: 2px solid transparent;
      
}
.checkbox:checked + .burger > .burger_line::after {
    transform: rotate(-45deg);
    top: 0;
      
}
.checkbox:checked + .burger > .burger_line::before {
    transform: rotate(45deg);
    top: 0;

      
}

.header-top{
    background-color: $mail-blue;

   
//hjjjhjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj//
    .burger{
        height: 45px;
        width: 45px;
        border: 2px solid white;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        @media screen and (max-width: 1199px){
            display: flex;
            
        }

        &__line{
            border-bottom: 2px solid white;
            width: 30px;
            height: 2px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 7px;
                border-bottom: 2px solid white;
                height: 2px;
                width: 30px;
            }
            &::before {
                content: '';
                position: absolute;
                top: -7px;
                border-bottom: 2px solid white;
                height: 2px;
                width: 30px;


            }
        }
    }

    ///iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii/
    .nav{
        height: 50px;
        display: flex;
        
        &_item{
            margin-right: 40px;
            height: 100%;
            @media screen and (max-width: 1199px){
                display: none;
                
            }
                
                &:last-child{
                    margin-right: 0;
                }
                &-link{
                    color: white;
                    height: 100%;
                    display: flex;
                    align-items: center; 
                    box-sizing: border-box;
                    border-bottom: 3px solid transparent;
                    &:hover{
                        text-decoration: none;
                        border-bottom: 3px solid $red;
                        
                    }
            }

        }
    }


}

.header-nav{
    display: flex;
    height: 65px;
    align-items: center;
    margin: 20px 0;

    &__logo{
        margin-right: 20px;
    }
    &__item{
        margin-right: 25px;
        margin-top: 12px;

    }


    &__social{
        display: flex;
        align-items: center;
        margin-top: 12px;

        &-group{
            margin-left: 18px;
            width: 71px;
            display: flex;
            justify-content: space-between;

        }
        &-email{
            margin-left: 12px;
        }
    }

    &__phones{
        width: 170px;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 15px;
        font-size: 16px;
    }
    &__button{
        background-color: $red;
        color: white;
        font-weight: 600;
        width: 224px;
        height: 46px;
        outline: none;
        border: none;
       
        font-size: 16px;

        &:hover{
            animation-name: buttomanimation;
            animation-duration: 5s;

        }
       
    }
@keyframes buttomanimation {
      0%{
        transform: rotate(15deg);
     }
      5%{
        transform: rotate(0deg);
      }
     10%{
        transform: rotate(15deg);
      }
      15%{
        transform: rotate(-15deg);
      }
      20%{
        transform: rotate(0deg);
      }
      25%{
        transform: rotate(15deg);
      }
      
      35%{
        transform: rotate(-15deg);
      }
      45%{
        transform: rotate(0deg);
      }
      50%{
        transform: rotate(15deg);
      }
      75%{
        transform: rotate(-180deg);
      }
      100%{
        transform: scale(1.5);
        perspective: 1500px;
      }

 
    }
}  